/* .swiper {
 width: 100%;
 height: 100%;
}

.swiper-slide {
 text-align: center;
 font-size: 18px;
 background: #fff; */

/* Center slide text vertically */
/* display: flex;
justify-content: center;
align-items: center; */
/* } */

.swiper-slide img {
 display: block;
 width: 100%;
 height: 500px;
 max-height: 313px;
 border-radius: 30px;
 object-fit: cover;
 object-position: center;
}

.mySwiper {
 border-radius: 12px !important;
}
.swiper.swiper-initialized.swiper-horizontal.mySwiper.swiper-backface-hidden {
 position: relative !important;
 margin-bottom: 60px;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
 position: relative !important;
 bottom: 0 !important;
 margin-top: 24px;
}

.swiper-pagination-bullet-active {
 background: #00535B !important;
 width: 15px !important;
 height: 15px !important;
}

.swiper-pagination-bullet {
 width: 15px !important;
 height: 15px !important;
 border: 1px solid#00535B;
}

thead.ant-table-thead>tr>th.ant-table-cell {
 background: #DCE9FE !important;
}

thead.ant-table-thead>tr>th.ant-table-cell::before {
 background: transparent !important;
}

div.ant-spin-container .ant-table {
 border: 1px solid #C5C5C5
}

.ant-table-cell {
 padding: 11px !important;
}

.ant-pagination-total-text {
  display: block;
  position: absolute;
 left: 0;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper .ant-table-tbody .ant-table-row>.ant-table-cell-row-hover {
 background: #F2F2F2;
}

.ant-modal-content {
 padding: 0 !important;
}

.ant-modal-header {
 background-color: #00535B !important;
 padding: 12px 35px;

}

.ant-modal-close-x {
 color: white;
}

.ant-modal-title {
 color: white !important;
 font-size: 20px !important;
 font-weight: 400 !important;
}

.ant-modal-body {
 padding: 0 35px;
}

.ant-modal-footer {
 padding: 0 35px 20px 35px !important;
 display: flex;
 justify-content: flex-end;
}
#upload-file {
 color: red;
}
.ant-pagination.ant-table-pagination.ant-table-pagination-right {
 justify-content: flex-end !important;
}

.ant-table {
 overflow-x: auto;
}

.ant-table::-webkit-scrollbar {
 width: 1px;
 height: 5px;
}

.ant-table::-webkit-scrollbar-track {
 box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15 );
 border-radius: 25px;
}

.ant-table::-webkit-scrollbar-thumb {
 background-color: darkgrey;
}

@media only screen and (max-width: 640px) {
 .swiper-slide img {
  max-height: 250px;
  border-radius: 12px;
 }

 .ant-pagination-total-text {
  display: none !important;
  position: absolute;
  left: 0;
 }

 .ant-pagination.ant-table-pagination.ant-table-pagination-right {
  justify-content: center !important;

}
}